@model IEnumerable<OnlineShopPhono.Models.Phone>
@{
    ViewBag.Title = "Index";
}

<h2>Available Phones</h2>
@Html.ActionLink("New Mobile Device", "New", "Phone", null, new { @class = "btn btn-primary", style = "margin-bottom:20px" })

@if (!Model.Any())
{
    <p>There are no phones available.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Phone Name</th>
                <th colspan="3">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var phone in Model)
            {
                <tr>
                    <td>@phone.PhoneName</td>
                    <td>@Html.ActionLink("Details", "Details", "Phone", new { id = phone.ID }, null)</td>
                    <td>@Html.ActionLink("Edit", "Edit", "Phone", new { id = phone.ID }, null)</td>
                    <td>@Html.ActionLink("Delete", "Delete", "Phone", new { id = phone.ID }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}
