@model IEnumerable<OnlineShopPhono.Models.Brand>
@{
    ViewBag.Title = "Index";
}

<h2>Available Brands</h2>

@Html.ActionLink("New Brand", "New", "Brand", null, new { @class = "btn btn-primary", style = "margin-bottom:20px" })

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Brand Name</th>
            <th colspan="3">Action</th>
        </tr>
    </thead>
    @if (!Model.Any())
    {
        <p>There are no brands available.</p>
    }
    else
    {
        <tbody>
            @foreach (var brand in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@brand.BrandName, "AvailablePhones", "Brand", new { id = brand.ID }, null)</td>
                    <td>@Html.ActionLink("Details", "Details", "Brand", new { id = brand.ID }, null)</td>
                    <td>@Html.ActionLink("Edit", "Edit", "Brand", new { id = brand.ID }, null)</td>
                    <td>@Html.ActionLink("Delete", "Delete", "Brand", new { id = brand.ID }, null)</td>
                </tr>
            }
        </tbody>
    }
</table>

